body {
  font-family: "Roboto", sans-serif;
  color: var(--dark);
  background: var(--white);
  margin: 0;
}
:root {
  --primary-brand: #4d5ae5;
  --pressed-state: #404bbf;
  --dark: #2e2f42;
  --success: #31d0aa;
  --text: #434455;
  --subtle-text: #8e8f99;
  --accent: #e7e9fc;
  --light: #f4f4fd;
  --modal-overlay: #2e2f42;
  --hero-background: #2e2f42;
  --white: #ffffff;
}
.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  margin-right: 76px;
}
.logo-web {
  color: var(--primary-brand);
}
.logo-studio {
  color: var(--dark);
}

.navigation {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--dark);
  text-decoration: none;
  list-style: none;
}
.navigation:active {
  color: var(--pressed-state);
}
.address-cont {
  display: flex;
  margin-left: 332px;
}
.contacts-list {
  list-style: none;
  justify-content: flex-end;
  gap: 40px;
}
.stud-portf-con {
  gap: 40px;
}
.contacts {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
  font-style: normal;
  text-decoration: none;
}
.section-item {
  background: var(--hero-background);
  display: block;
}
.main-header {
  font-size: 56px;
  line-height: 1.07;
  letter-spacing: 0.02em;
  color: var(--white);
  width: 550px;
  text-align: center;
  margin-bottom: 48px;
}
.order {
  background: var(--primary-brand);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  letter-spacing: 0.04em;
  color: var(--white);
  text-align: center;
  margin-left: 200px;
  border: 0;
  width: 169px;
  height: 56px;
}
.order:hover,
.order:focus {
  background: var(--pressed-state)
}
.advanteges-list,
.wp-img,
.contacts-list,
.portolio-butt,
.row,
.stud-portf-con,
.personal {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 24px;
}

.advant-header {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.advant-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
.header-proc,
.header-team {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var();
  text-align: center;
  margin-bottom: 72px;
}
.name {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.3;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}
.position {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
  text-align: center;
}
.section-team {
  padding: 120px 156px;
  background: var(--light);
}
ul.personal > li {
  background: var(--white);
  height: 380px;
}
li.worker > img {
  margin-bottom: 32px;
}
.footer {
  background-color: var(--dark);
  padding-top: 100px ;
  padding-bottom: 100px;
  padding-left: 156px;
}
.logo-f {
  font-family: "Raleway", sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  
}
.logo-web-f {
  color: var(--primary-brand);
  
}
.logo-studio-f {
  color: var(--light);
 
}
.text-f {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--accent);
  width: 264px;
  margin-top: 16px;
}
.butt {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: var(--primary-brand);
  background: var(--light);
  border: 1px solid #e7e9fc;
  border-radius: 4px;
}
.header-portfolio {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--dark);
}
.text-portfolio {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--text);
}
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}
h1,
h2,
h3,
h4,
h5,
h6,
p,
ul {
  margin: 0;
  padding: 0;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}
.container.header-cont {
  display: flex;
}
.nav-header {
  display: flex;
  justify-content: flex-start;
}
header {
  padding-top: 24px;
  padding-bottom: 24px;
}
.section-item {
  max-height: 600px;
  padding-top: 260px;
  padding-left: 472px;
  padding-bottom: 206px;
}
.section-features {
  padding-top: 120px;
  padding-bottom: 120px;
  padding-right: 156px;
  padding-left: 156px;
}
.section-team {
  padding: 120px 156px;
}
.main-portfolio{
  
}